
.appContainer h2 {
  color: #ffffff;
  text-align: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

th {
  background-color: rgb(116 130 131);
}

td {
  background-color: rgb(158, 168, 169);
}

.form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.addContact {
  justify-content: center;
text-align: center;
}
.addContact input {
  margin-right: 10px;
}