body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MUI generic style */
.MuiIconButton-root {
  color: black !important;
}
.MuiDataGrid-row {
  background-color: rgb(158, 168, 169);
}
.MuiDataGrid-row:hover {
  opacity: 80% !important;
  background-color: rgb(158, 168, 169) !important; 
}
.MuiDataGrid-row.Mui-selected{
  opacity: 50% !important;
  background-color: rgb(158, 168, 169) !important;
}
.MuiDataGrid-columnHeaders, .MuiDataGrid-footerContainer  {
  background-color: rgb(116 130 131);
}

.rightFormButton {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0;
}
.rightFormButton .MuiButton-containedInherit:hover {
  color: black;
}