
.appContainer h2 {
  color: #ffffff;
  text-align: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
<<<<<<< HEAD
  border-collapse: collapse;
  width: 100% !important;
=======
  border-spacing: 0;
  border-collapse: unset;
  width: 100%;
>>>>>>> 01d250e73fad1950fadcb82fc6e70b95f7dc6621
}

th,
td {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
<<<<<<< HEAD
  font-size: 1vw !important;
=======
  font-size: 14px;
>>>>>>> 01d250e73fad1950fadcb82fc6e70b95f7dc6621
}

th {
  background-color: rgb(116 130 131);
}

td {
  background-color: rgb(158, 168, 169);
}

.form {
  display: flex;
  gap: 5px;
  justify-content: center;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

<<<<<<< HEAD
form * {
  font-size: 10px;
}
=======
>>>>>>> 01d250e73fad1950fadcb82fc6e70b95f7dc6621
.addContact {
  justify-content: center;
  text-align: center;
}
.addContact input {
  margin-right: 10px;
}

.deactivated .contactField{
  opacity: 50%;
<<<<<<< HEAD
}
.hidetext { -webkit-text-security: disc; 
}
.sss input{
  font-size: 1.1vw !important;
  width: 80%;
=======
>>>>>>> 01d250e73fad1950fadcb82fc6e70b95f7dc6621
}